.infoGeneral {
    margin-top: 7%;
    .parallelogram__info__general {
        background-image: url(../../assets/images/aPropos/affiche1Desktop.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin: auto;
        width: 100%;
        height: 860px;
        display: flex;
        justify-content: center;
        align-items: center;

        .contenuGeneral {
            width: 87.8%;
            margin-top: -2.3%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                height: 100%;
            }
            .contenuGeneral__text {
                margin-top: 8%;
                // padding-right: 15%;
                // width: 50%;
                padding: 0 8% 0 5%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h2 {
                    background-image: url(../../assets/images/aPropos/sousTitreBleu.png);
                    background-repeat: no-repeat;
                    // background-position: center;
                    text-align: center;
                    font-family: var(--font-primary);
                    font-size: var(--font-size-h4);
                    color: var(--color-white);

                    width: 100%;
                    height: 73px;
                    padding: 2% 12% 0 0;
                }
                p {
                    width: 100%;
                    span {
                        font-family: var(--font-primary);
                        color: var(--color-primary);
                        font-weight: var(--fw-bold);
                    }
                    .nom__aPropos {
                        font-size: var(--font-size-h4);
                    }
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    list-style-image: url('../../assets/images/bullets.png');
                    li {
                        font-family: var(--font-primary);
                        width: 49%;
                        padding-bottom: 2%;
                    }
                }
            }
        }
    }
    .trapeze_bonjour {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../../assets/images/aPropos/backgroundBonjour.png);
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        // margin: auto;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: var(--font-size-h2);
            color: var(--color-white);
        }
    }

    .fleche__scroll1 {
        position: absolute;
        top: 25%;
        right: 0;
        display: flex;
        justify-content: flex-end;
        background-image: url(../../assets/images/aPropos/FlecheScroll1.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 450px;
        height: 600px;
    }
}

// .peuxFaire {
// }
.fleche__scroll__text {
    color: var(--color-white);
    margin-right: 53%;
    transform: rotate(25deg);
    writing-mode: vertical-rl;
    text-align: center;
    text-orientation: upright;
    letter-spacing: -50px;
}
.poteaux {
    z-index: -999;
    position: absolute;
    top: 25%;
    left: 50%;
}
