.contact {
    background-image: url(../../assets/images/aPropos/affiche3Desktop.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    width: 90%;
    height: calc(100vh - 32px);

    display: flex;
    align-items: center;
    justify-content: center;

    .contenuContact {
        height: 55vh;
        width: 90vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // flex-direction: column;
        .informations {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            // width: 120%;
            .titre {
                background-image: url(../../assets/images/aPropos/titrePasseTemps.png);
                background-position: center;
                background-repeat: no-repeat;
                width: 100%;
                position: absolute;
                top: 15%;
                left: 0;
                height: 20%;

                display: flex;
                justify-content: center;
                align-items: center;

                h1 {
                    font-size: var(--font-size-h3);
                }
            }

            a {
                width: 100%;
                // padding-left: 5%;
                &:nth-child(2) {
                    padding: var(--spacing-lg) 0;
                    font-family: var(--font-secondary);
                }
                span {
                    font-weight: var(--fw-bold);
                    font-family: var(--font-primary);
                }
            }
        }

        .separations {
            width: 2%;

            display: flex;
            justify-content: space-between;
            div {
                height: 30vh;
                width: 2px;
                border: none;
                background-color: var(--color-primary);
                margin: 0 2%;
            }
        }

        .reseaux {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2 {
                font-family: var(--font-primary);
                font-size: var(--font-size-h4);
                margin-bottom: var(--spacing-sm);
            }

            .medias__icones {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                width: 130%;
                margin-top: var(--spacing-sm);
                div {
                    display: flex;
                    justify-content: space-between;
                    width: 50%;
                    &:nth-child(2) {
                        width: 30%;
                        margin-top: 3%;
                    }
                    svg {
                        transition: all 0.3s $ease-out-expo;
                        &:hover {
                            cursor: pointer;
                            fill: var(--color-primary);
                        }
                    }
                }
            }
        }
    }
}
