.infoGeneral{
    margin-top:95px;
    .parallelogram__info__general {
        margin: auto;
        width: 80vw;
        clip-path: polygon(0 0%, 90% 10%, 100% 100%, 10% 100%);
        background: #a1d4f0;

        .contenuAPropos {
            display: flex;

            .contenuAPropos__text{
                width:50%;
            }
        }
    }
}
.trapeze_bonjour {
    margin: auto;
    width: 18vw;
    height: 10vh;
    clip-path: polygon(0 0%, 100% 0, 90% 100%, 15% 100%);
    background: #a1d4f0;
}

section[class] {
    display: flex;
    justify-content: center;
    filter: url(#round);
}

// writing-mode: vertical-rl;
// text-orientation: upright;