.modal {
    --modal-padding: 60px;
    @include cover(fixed);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    overflow: hidden;
    z-index: 20;
}

.modal_scrim {
    @include cover();
    background-color: var(--color-black);
    opacity: 0;
    cursor: pointer;

    .modal-is-active & {
        opacity: 0.8;
        transition: opacity 0.8s $ease-out-circ;
    }
}

.modal_box {
    // background-color: var(--color-white);

    color: var(--color-black);
    cursor: pointer;

    position: relative;
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;

    z-index: 1;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.4s $ease-out-expo;
    pointer-events: none;

    .modal-is-active & {
        opacity: 1;
        transform: scale(1);
        transition: transform 0.4s $ease-out-expo;
    }
}

.modal_content {
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;

        pointer-events: none;

        @media screen and (max-width: 425px) {
            object-fit: cover;
        }
    }
}

.modal-is-active body {
    overflow: hidden;
}
