.outer {
    position: relative;
    overflow: hidden;
    width: 80vw;
    margin: auto;
    margin-bottom: 5%;
    &:nth-child(1) {
        margin-top: 10%;
    }
    .inner {
        border: 20px solid var(--color-white);

        @media screen and (max-width: 425px) {
            border: 15px solid var(--color-white);
        }
    }
    .inner i {
        width: 80px;
        height: 80px;
        border: 20px solid var(--color-white);
        border-radius: 50%;
        background-color: var(--color-background-primary);

        @media screen and (max-width: 425px) {
            border: 10px solid var(--color-white);
        }
    }
    .inner .top {
        position: absolute;
        top: -30px;
    }
    .inner .bottom {
        position: absolute;
        bottom: -30px;
    }
    .inner .left {
        left: -30px;
    }
    .inner .right {
        right: -30px;
    }
}
