.nihilo {
    background-image: url(../../assets/images/singleNihilo/chaines.png);
    background-position: center;
    background-repeat: repeat-y;

    @media screen and (max-width: $breakpoint-md) {
        background-size: 50%;
    }

    .inner {
        background-color: var(--color-secondary);
    }

    //--------------------------Section Titre---------------------------------------------------
    .nihilo__hero {
        @media screen and (max-width: $breakpoint-lg) {
            margin-top: 15%;
        }

        @media screen and (max-width: 425px) {
            margin-top: 30%;
        }
        .content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: right;

            @media screen and (max-width: $breakpoint-md) {
                flex-direction: column;
            }

            .content__text {
                text-align: right;

                @media screen and (max-width: $breakpoint-md) {
                    text-align: center;
                }
                p {
                    width: 90%;

                    @media screen and (max-width: $breakpoint-lg) {
                        font-size: var(--font-size-h3-responsive);
                    }
                }
                .description__projet {
                    font-family: var(--font-primary);
                    font-weight: var(--fw-bold);
                    font-size: var(--font-size-h4-responsive);
                    padding-top: 5%;
                    letter-spacing: 3px;

                    @media screen and (max-width: $breakpoint-md) {
                        font-size: var(--font-size-content-responsive);
                    }
                }
                .description__nom {
                    font-size: var(--font-size-content-responsive);
                    font-family: var(--font-secondary);
                    padding: 1% 0;

                    @media screen and (max-width: $breakpoint-lg) {
                        font-size: var(--font-size-content-mobile);
                    }
                }
            }
            .video {
                width: 50%;
                padding-bottom: 25%;

                @media screen and (max-width: $breakpoint-md) {
                    width: 75%;
                    padding-bottom: 50%;
                }

                @media screen and (max-width: 425px) {
                    width: 75%;
                    padding-bottom: 50%;
                }
            }
        }
    }

    //--------------------------SECTION STORYBOARD---------------------------------------------------
    .nihilo__storyboard {
        img {
            margin-bottom: 5%;

            @media screen and (max-width: $breakpoint-md) {
                width: 75%;
            }
        }
    }

    //-------------------------SECTION MOODBOARD------------------------------------------------------
    .nihilo__moodboard {
        .wrapper {
            margin-bottom: 5%;
        }
        img {
            width: 50%;
            height: 500px;
            object-fit: cover;
        }
    }
    //-------------------------SECTION MODELISATION---------------------------------------------------
    .nihilo__modelisation {
        h2 {
            padding-top: 3%;
        }
        img {
            width: 50%;
            &:nth-child(3) {
                height: 450px;
                object-fit: cover;
            }
        }
        .swiper-container {
            padding-bottom: 10px;
            .swiper-pagination {
                bottom: 0px;
            }
        }
    }

    //-------------------------SECTION ANIMATION FINAL-------------------------------------------
    .nihilo__animFinal {
        .video {
            width: 50%;
            padding-bottom: 25%;

            @media screen and (max-width: $breakpoint-md) {
                width: 75%;
                padding-bottom: 50%;
            }
        }
    }

    //--------------------------STYLE GENERAL---------------------------------------------------

    .content {
        color: var(--color-white);
        text-align: center;
        h3 {
            font-family: var(--font-primary);
            font-weight: var(--fw-regular);

            @media screen and (max-width: $breakpoint-lg) {
                font-size: var(--font-size-liens);
            }

            @media screen and (max-width: 425px) {
                font-size: var(--font-size-content-mobile);
            }
        }
        p {
            width: 40%;
            margin: auto;
            font-family: var(--font-secondary);
            font-size: var(--font-size-content-responsive);
            padding: 2% 0;

            @media screen and (max-width: $breakpoint-lg) {
                font-size: var(--font-size-content-mobile);
            }

            @media screen and (max-width: $breakpoint-sm) {
                width: 60%;
            }

            @media screen and (max-width: 425px) {
                width: 80%;
                font-size: var(--font-size-infocard);
            }

            span {
                color: var(--color-quinary);
                font-family: var(--font-primary);
                font-weight: var(--fw-bold);
            }

            a {
                span {
                    text-decoration: underline;
                    @media screen and (max-width: $breakpoint-lg) {
                        font-size: var(--font-size-content-responsive);
                    }

                    @media screen and (max-width: 425px) {
                        font-size: var(--font-size-infocard);
                    }
                }
            }
        }
        img {
            border-radius: 10px;
            cursor: pointer;

            @media screen and (max-width: 425px) {
                width: 90%;
                margin-bottom: 10%;
            }
        }
    }

    h1 {
        margin-right: 3%;

        @media screen and (max-width: $breakpoint-lg) {
            font-size: var(--font-size-h3-responsive);
        }
    }
    h2 {
        background-image: url(../../assets/images/singleNihilo/soustitre.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
        margin: 5% 2% 0 2%;
        padding-top: 3.5%;

        text-align: center;

        @media screen and (max-width: $breakpoint-lg) {
            font-size: var(--font-size-h1-mobile);

            height: 125px;
        }

        @media screen and (max-width: $breakpoint-md) {
            height: 100px;
            padding-top: 2.5%;
            font-size: var(--font-size-h4-mobile);
        }

        @media screen and (max-width: $breakpoint-sm) {
            background-image: none;
            font-size: var(--font-size-content);
        }

        @media screen and (max-width: 425px) {
            height: 60px;
            font-size: var(--font-size-content-responsive);
        }

        @media screen and (max-width: $breakpoint-xs) {
            padding-top:10%;
        }
    }

    .swiper-pagination-bullet {
        background-color: var(--color-primary);

        height: 12px;
        width: 12px;

        @media screen and (max-width: 425px) {
            height: 8px;
            width: 8px;
        }
    }
}
