.footer {
    background-color: var(--color-background-secondary);
    p {
        font-family: var(--font-secondary);
        font-size: var(--font-size-liens);
        margin: 0;
        padding-left: 10%;
    }
}
