.navPrincipal {
    background-color: var(--color-background-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .navPoint {
        width: 9px;
        height: 9px;
        background-color: var(--color-black);
        border-radius: 100%;
    }

    z-index: 1;
    .navPrincipal__logo {
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navPrincipal__liste {
        margin: 0;
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            list-style-type: none;
        }
        a{
            &:nth-child(1):hover{
                color:var(--color-quinary);
            }
            &:nth-child(5):hover{
                color:var(--color-secondary);
            }
            &:nth-child(7):hover{
                color:var(--color-background-senary);
            }
        }
    }
    img:nth-child(3) {
        transform: scaleY(-1) scaleX(-1);
    }

}
