.projets {
    width: 100vw;

    h1 {
        text-align: center;
        margin-top: 10%;
        font-size: var(--font-size-h1-responsive);

        @media screen and (max-width: $breakpoint-md) {
            margin-top: 15%;
        }

        @media screen and (max-width: $breakpoint-sm) {
            font-size: var(--font-size-h3-responsive);
        }

        @media screen and (max-width: 425px) {
            margin-top: 30%;
        }
    }
    .card {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        margin: 10.5% auto;
        .card__contenu {
            display: flex;
            align-items: center;
            width: 70%;
            height: 460px;

            margin: auto;
            display: flex;
            justify-content: center;

            color: var(--color-white);

            @media screen and (min-width: 1921px) {
                height: 525px;
            }

            @media screen and (max-width: $breakpoint-lg) {
                height: 450px;
                margin-bottom: 8%;
            }

            @media screen and (max-width: $breakpoint-md) {
                height: 290px;
                margin-bottom: 5%;
            }

            @media screen and (max-width: 950px) {
                height: 250px;
                margin-bottom: 5%;
            }

            @media screen and (max-width: 800px) {
                height: 225px;
                margin-bottom: 4%;
            }
            @media screen and (max-width: $breakpoint-sm) {
                height: 210px;
            }

            @media screen and (max-width: 700px) {
                height: 200px;
            }

            @media screen and (max-width: 425px) {
                height: 140px;
                width: 90%;
            }
        }

        img {
            border-radius: 10px;
            width: 40%;
            height: 70%;
            object-fit: cover;

        }

        &:nth-child(odd) {
            img {
                margin-right: 10%;
                @media screen and (min-width: 1921px) {
                    margin-right: 13%;
                }

                @media screen and (max-width: $breakpoint-lg) {
                    margin-right: 0;
                }

                @media screen and (max-width: $breakpoint-md) {
                    margin-right: 5%;
                }

                @media screen and (max-width: 425px) {
                    margin-right: 8%;
                    width: 35%;
                }
            }
            .card__texte {
                .button {
                    margin-left: -40%;

                    @media screen and (max-width: $breakpoint-md) {
                        margin-left: 0;
                    }
                    @media screen and (max-width: 425px) {
                        margin-left: -30%;
                    }
                }

            }

            @media screen and (max-width: $breakpoint-sm) {
                margin: 5% auto;
            }
        }
        &:nth-child(even) {
            img {
                margin-left: -8%;

                @media screen and (min-width: 1921px) {
                    margin-left: -2%;
                }

                @media screen and (max-width: $breakpoint-lg) {
                    margin-left: -15%;
                }

                @media screen and (max-width: $breakpoint-md) {
                    margin-left: -5%;
                }

                @media screen and (max-width: 425px) {
                    margin-left: -10%;
                    width: 30%;
                }
            }

            @media screen and (max-width: $breakpoint-sm) {
                margin: 5% auto;
            }
        }

        .card__texte {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 30%;

            @media screen and (max-width: $breakpoint-lg) {
                width:45%;
            }

            @media screen and (max-width: 425px) {
                width: 40%;
            }
            p {
                margin: 0;
            }
            h2 {
                @media screen and (max-width: $breakpoint-md) {
                    font-size: var(--font-size-h3-responsive);
                }

                @media screen and (max-width: $breakpoint-sm) {
                    font-size: var(--font-size-h4);
                }

                @media screen and (max-width: 425px) {
                    font-size: var(--font-size-h4-mobile);
                }
            }
            .card__info {
                font-size: var(--font-size-content-responsive);
                font-family: var(--font-primary);
                font-weight: var(--fw-regular);
                padding: 2% 0 5% 0;

                @media screen and (max-width: $breakpoint-md) {
                    font-size: var(--font-size-infocard);
                }

                @media screen and (max-width: 425px) {
                    font-size: var(--font-size-infocard-responsive);
                    padding-bottom: 0;
                }
            }

            .card__resume {
                font-size: var(--font-size-h4-mobile);

                @media screen and (max-width: $breakpoint-md) {
                    display: none;
                }
            }

            &:nth-child(odd) {
                text-align: right;
                margin-right: 2%;
                margin-left: auto;

                align-items: flex-end;
                a {
                    margin-right: 10%;
                }
            }
            &:nth-child(even) {
                margin-left: 2%;
                align-items: flex-start;
                a {
                    margin-left: 10%;
                }
            }

            .button {
                cursor: pointer;

                background-image: url(../../assets/images/projets/BouttonCard.png);
                background-position: 50% 65%;
                background-repeat: no-repeat;
                background-size: contain;

                width: 15vw;
                margin-top: 3%;
                padding: 20px 50px;
                border: none;
                text-align: center;

                transition: all 0.3s $ease-out-expo;

                @media screen and (max-width: $breakpoint-md) {
                    padding: 10px 30px;
                }

                @media screen and (max-width: 425px) {
                    padding: 10px 10px;
                    width: 25vw;
                }

                @media screen and (max-width: $breakpoint-xs) {
                    font-size: smaller;
                }

                &:hover {
                    background-position: 50% 70%;
                }
            }
            a {
                text-transform: uppercase;
                margin: 0;
                font-size: var(--font-size-content-responsive);

                width: 50%;

                @media screen and (max-width: $breakpoint-md) {
                    font-size: var(--font-size-content-mobile);
                }

                @media screen and (max-width: $breakpoint-sm) {
                    font-size: var(--font-size-infocard);
                }

                &:hover {
                    color: var(--color-black);
                }
            }
        }
    }
    .card--1 {
        background-image: url(../../assets/images/projets/Card1.png);
        margin-top: 10%;
    }

    .card--2 {
        background-image: url(../../assets/images/projets/Card2.png);
    }

    .card--3 {
        background-image: url(../../assets/images/projets/Card3.png);
    }

    .card--4 {
        background-image: url(../../assets/images/projets/Card4.png);
    }

    .card--5 {
        background-image: url(../../assets/images/projets/Card5.png);
    }

    .card--6 {
        background-image: url(../../assets/images/projets/Card6.png);
    }
}

.poteaux {
    z-index: -999;
    position: absolute;
    top: 5%;
    left: 48.5%;

    height: 95%;
}
