.hollowknight {
    background-image: url(../../assets/images/singleNihilo/chaines.png);
    background-position: center;
    background-repeat: repeat-y;

    @media screen and (max-width: $breakpoint-md) {
        background-size: 50%;
    }

    .inner {
        background-color: var(--color-background-octonary);
    }

    //--------------------------Section Titre---------------------------------------------------
    .hollow__hero {
        @media screen and (max-width: $breakpoint-lg) {
            margin-top: 15%;
        }

        @media screen and (max-width: 425px) {
            margin-top: 30%;
        }
        .content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: right;

            @media screen and (max-width: $breakpoint-md) {
                flex-direction: column;
            }

            .content__text {
                text-align: right;

                @media screen and (max-width: $breakpoint-md) {
                    text-align: center;
                }
                p {
                    width: 90%;

                    @media screen and (max-width: $breakpoint-lg) {
                        font-size: var(--font-size-h3-responsive);
                    }
                }
                .description__projet {
                    font-family: var(--font-primary);
                    font-weight: var(--fw-bold);
                    font-size: var(--font-size-h4-responsive);
                    padding-top: 5%;
                    letter-spacing: 3px;

                    @media screen and (max-width: $breakpoint-md) {
                        font-size: var(--font-size-content-responsive);
                    }
                }
                .description__nom {
                    font-size: var(--font-size-content-responsive);
                    font-family: var(--font-secondary);
                    padding: 1% 0;

                    @media screen and (max-width: $breakpoint-lg) {
                        font-size: var(--font-size-content-mobile);
                    }
                }
            }
            .video {
                width: 50%;
                padding-bottom: 25%;
                margin-left: 5%;

                @media screen and (max-width: $breakpoint-md) {
                    width: 75%;
                    padding-bottom: 50%;
                }

                @media screen and (max-width: 425px) {
                    width: 75%;
                    padding-bottom: 50%;
                }
            }
        }
    }

    //--------------------------SECTION REFERENCE---------------------------------------------------
    .hollow__references {
        .content {
            .hollow__referencesGrid {
                display: flex;
                flex-wrap: wrap;

                width: 70%;
                margin: auto;

                padding-bottom: 2%;
                @media screen and (max-width: 425px) {
                    padding-bottom: 5%;
                }
                img {
                    width: 25%;
                    height: 200px;
                    object-fit: cover;

                    border-radius: 0;

                    @media screen and (max-width: $breakpoint-md) {
                        height: 150px;
                    }

                    @media screen and (max-width: $breakpoint-sm) {
                        height: 100px;
                    }

                    @media screen and (max-width: 425px) {
                        width: 25%;
                        margin: 0;
                        height: 50px;
                    }
                }
            }
        }
    }

    //-------------------------SECTION MODELISATION------------------------------------------------------
    .hollow__modelisation {
        .cloakHollow {
            img {
                width: 30%;
            }
        }
        .wrapper {
            margin-bottom: 5%;
        }
        img {
            width: 50%;
            height: 500px;
            object-fit: cover;

            @media screen and (max-width: $breakpoint-md) {
                height: 200px;
            }
        }
    }

    //-------------------------SECTION TEXTURE, ANIMATION, SON---------------------------------------------------
    .hollow__texture,
    .hollow__animation,
    .hollow__son {
        h2 {
            padding-top: 3%;
        }
        img {
            width: 50%;
            object-fit: cover;
            &:nth-child(3) {
                height: 450px;
                object-fit: cover;

                @media screen and (max-width: $breakpoint-md) {
                    height: 200px;
                }
            }
        }
        .swiper-container {
            padding-bottom: 10px;

            .swiper-pagination {
                bottom: 0px;
            }
        }

        .type_de_rendu {
            text-align: left;
            font-weight: var(--fw-bold);
        }

        video {
            width: 50%;
            height: 50%;

            @media screen and (max-width: $breakpoint-md) {
                width: 100%;
                height: 100%;
            }
        }
    }

    //-------------------------SECTION ANIMATION FINAL-------------------------------------------
    .hollow__final {
        .video {
            width: 50%;
            padding-bottom: 25%;

            @media screen and (max-width: $breakpoint-md) {
                width: 75%;
                padding-bottom: 50%;
            }
        }
    }

    //--------------------------STYLE GENERAL---------------------------------------------------

    .content {
        color: var(--color-white);
        text-align: center;
        h3 {
            color: var(--color-black);
            font-family: var(--font-primary);
            font-weight: var(--fw-regular);

            @media screen and (max-width: $breakpoint-lg) {
                font-size: var(--font-size-liens);
            }

            @media screen and (max-width: 425px) {
                font-size: var(--font-size-content-mobile);
            }
        }
        p {
            color: var(--color-black);
            width: 40%;
            margin: auto;
            font-family: var(--font-secondary);
            font-size: var(--font-size-content-responsive);
            padding: 2% 0;

            @media screen and (max-width: $breakpoint-lg) {
                font-size: var(--font-size-content-mobile);
            }

            @media screen and (max-width: $breakpoint-sm) {
                width: 60%;
            }

            @media screen and (max-width: 425px) {
                width: 80%;
                font-size: var(--font-size-infocard);
            }

            span {
                color: var(--color-primary);
                font-family: var(--font-primary);
                font-weight: var(--fw-bold);
            }

            a {
                span {
                    text-decoration: underline;
                    @media screen and (max-width: $breakpoint-lg) {
                        font-size: var(--font-size-content-responsive);
                    }

                    @media screen and (max-width: 425px) {
                        font-size: var(--font-size-infocard);
                    }
                }
            }
        }
        img {
            border-radius: 10px;
            cursor: pointer;

            @media screen and (max-width: 425px) {
                width: 90%;
                margin-bottom: 10%;
            }
        }
    }

    h1 {
        color: var(--color-black);
        margin-right: 3%;

        @media screen and (max-width: $breakpoint-lg) {
            font-size: var(--font-size-h3-responsive);
        }
    }
    h2 {
        background-image: url(../../assets/images/singleNihilo/soustitre.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
        margin: 5% 2% 0 2%;
        padding-top: 3.5%;

        text-align: center;

        @media screen and (max-width: $breakpoint-lg) {
            font-size: var(--font-size-h1-mobile);

            height: 125px;
        }

        @media screen and (max-width: $breakpoint-md) {
            height: 100px;
            padding-top: 2.5%;
            font-size: var(--font-size-h4-mobile);
        }

        @media screen and (max-width: $breakpoint-sm) {
            background-image: none;
            font-size: var(--font-size-content);
        }

        @media screen and (max-width: 425px) {
            height: 60px;
            font-size: var(--font-size-content-responsive);
        }

        @media screen and (max-width: $breakpoint-xs) {
            padding-top:10%;
        }
    }

    .swiper-pagination-bullet {
        background-color: var(--color-primary);

        height: 12px;
        width: 12px;
        @media screen and (max-width: 425px) {
            height: 8px;
            width: 8px;
        }
    }
}
